[submodule "Libs/rtmidi"]
	path = Libs/rtmidi
	url = https://github.com/thestk/rtmidi
[submodule "Libs/glew"]
	path = Libs/glew
	url = https://github.com/nigels-com/glew
[submodule "Libs/imgui"]
	path = Libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "Libs/SDL"]
	path = Libs/SDL
	url = https://github.com/SDL-mirror/SDL
